<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coffee Order Login</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
  </head>
  <body>
    <div class="login">
      <h1>Coffee Plz Login</h1>
      <form>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <input type="submit" value="Login">
      </form>
      <div class="signup">
        <p>Don't have an account? <a href="#">Sign up</a></p>
      </div>
    </div>
  </body>
</html>
